<header>
    <div class="header-container">
        <h1>Minsu Library Management System</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/register-in">Register In</a>
            <a href="/register-out">Register Out</a>
            <a href="/view-registrations">View Registrations</a>
        </nav>
    </div>
</header>
